services:
  nacos:
    image: nacos/nacos-server:latest
    container_name: nacos
    # 3. 环境变量文件 (Env-file)
    # 假设 custom.env 文件位于与 docker-compose.yml 文件相同的目录下
    env_file:
      - ./custom.env
    environment:
      # 将官网要求的 Auth 变量直接写在这里，方便修改
      # 注意：在 2.2.0 之后，必须自定义这些 Key 才能开启鉴权并保证安全
      - NACOS_AUTH_IDENTITY_KEY=nacos_identity_key_2024
      - NACOS_AUTH_IDENTITY_VALUE=nacos_identity_value_2024
      - NACOS_AUTH_TOKEN=SecretKey01234567890123456789012345678901234567890123456789
    ports:
      - "18080:8080"
      - "8848:8848" # HTTP 端口
      - "9848:9848" # gRPC 客户端
      # - "9849:9849" # gRPC 服务端
    restart: always
    networks:
      - infra-net

networks:
  infra-net:
    external: true